<div class="wrap prds-lst-box-wrap" data-index="0">
  <div class="content prds-lst-box">
    <div class="mtlt">
      <h2 class="category">배민찬 추천</h2>
      <p>고르고 또 골라 배민찬이 추천합니다</p>
    </div>
    <div class="prds-thumb-slides-wrap">
      <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 369px;">
          <ul class="prds-box-lst col4" style="width: 12215%; position: relative; transition-duration: 0.5s; transform: translate3d(-1960px, 0px, 0px);">
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=I76F5" ga_id="18358" ga_name="[진가네반찬] 호두아몬드땅콩조림 200g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I76F5/d59eaa5e475cae0269fbfd2fb94403c2.jpg" alt="[진가네반찬] 호두아몬드땅콩조림 200g">
                </div>
                <dl>
                  <dt class="prd-tlt">[진가네반찬] 호두아몬드땅콩조림 200g</dt>
                  <dd class="prd-description">네 가지 견과류로 건강하게 호두아몬드땅콩조림 </dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 80%;">5점 만점에 4점</span>
                    </span>
                    <span class="review-count">13</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=I8A64" ga_id="18395" ga_name="[맑을담] 호박새우탕 800g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I8A64/556dcd27b4055b714178b7478f3ca569.jpg" alt="[맑을담] 호박새우탕 800g">
                </div>
                <dl>
                  <dt class="prd-tlt">[맑을담] 호박새우탕 800g</dt>
                  <dd class="prd-description">이가 약한 분도 부담 없이!</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">7,200
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>8,000</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=IA4EA" ga_id="18398" ga_name="[집반찬연구소] 우리쌀 기름떡볶이 750g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IA4EA/764374dee85bdae198664eae8b10f2d2.jpg" alt="[집반찬연구소] 우리쌀 기름떡볶이 750g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집반찬연구소] 우리쌀 기름떡볶이 750g</dt>
                  <dd class="prd-description">우리쌀떡볶이로 만든 건강한 기름떡볶이</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,820
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>9,800</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=IE568" ga_id="18408" ga_name="[게방식당] 간장소라 350g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IE568/5463bfb09984ba7528814ce6829778fb.jpg" alt="[게방식당] 간장소라 350g">
                </div>
                <dl>
                  <dt class="prd-tlt">[게방식당] 간장소라 350g</dt>
                  <dd class="prd-description">젓가락으로 느껴지는 탱글함!</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">13,500
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>15,000</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=IF80B" ga_id="18200" ga_name="[집밥의완성] 분짜 740g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IF80B/ad82dd48761db3f1fd9be69715ee558b.jpg" alt="[집밥의완성] 분짜 740g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 분짜 740g</dt>
                  <dd class="prd-description">새콤달콤 여름 입맛 저격 분짜</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 82%;">5점 만점에 4.1점</span>
                    </span>
                    <span class="review-count">17</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,600
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=I1608" ga_id="18201" ga_name="[집밥의완성] 오리지널 팟타이 540g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I1608/7e2860a70bb4bfd63662d6f80220f54f.jpg" alt="[집밥의완성] 오리지널 팟타이 540g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 오리지널 팟타이 540g</dt>
                  <dd class="prd-description">태국 No.1 스트리트 푸드</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 86%;">5점 만점에 4.3점</span>
                    </span>
                    <span class="review-count">22</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=I78C2" ga_id="18231" ga_name="[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I78C2/a023e43d887855feec7482f333267e1c.jpg" alt="[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g</dt>
                  <dd class="prd-description">대파가 시원한 국물맛을 잡아주는 전복 닭곰탕</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">16,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=ICD1D" ga_id="18261" ga_name="[너의반찬] 건새우 강정볶음 100g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/ICD1D/0916fa9b6a6158a5cd5e5c9a4c9da3ef.jpg" alt="[너의반찬] 건새우 강정볶음 100g">
                </div>
                <dl>
                  <dt class="prd-tlt">[너의반찬] 건새우 강정볶음 100g</dt>
                  <dd class="prd-description">물엿대신 메이플시럽으로 맛을 냈어요</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 88%;">5점 만점에 4.4점</span>
                    </span>
                    <span class="review-count">94</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" aria-hidden="false" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;">
              <a href="/shop/detail.php?hash=ICBBD" ga_id="18305" ga_name="[한옥집] 김치말이국수 660g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/ICBBD/d46ccae04e629777c8639e8fbee5deb7.jpg" alt="[한옥집] 김치말이국수 660g">
                </div>
                <dl>
                  <dt class="prd-tlt">[한옥집] 김치말이국수 660g</dt>
                  <dd class="prd-description">생소면으로 더욱 쫄깃한 김치말이 국수</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 74%;">5점 만점에 3.7점</span>
                    </span>
                    <span class="review-count">31</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,500
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" aria-hidden="false" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;">
              <a href="/shop/detail.php?hash=IBB87" ga_id="18332" ga_name="[집반찬연구소] 유자소스 꼬시래기무침 250g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IBB87/00c99d8342eac002847145075f2991c9.jpg" alt="[집반찬연구소] 유자소스 꼬시래기무침 250g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집반찬연구소] 유자소스 꼬시래기무침 250g</dt>
                  <dd class="prd-description">맛, 향, 식감 세 박자가 딱딱 맞아떨어지는 유자소스 꼬시래기무침 </dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,800
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" aria-hidden="false" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;">
              <a href="/shop/detail.php?hash=I40A1" ga_id="18348" ga_name="[남도애꽃] 남도식 깻잎조림 120g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I40A1/992968bec00806742a2c56db19da081c.jpg" alt="[남도애꽃] 남도식 깻잎조림 120g">
                </div>
                <dl>
                  <dt class="prd-tlt">[남도애꽃] 남도식 깻잎조림 120g</dt>
                  <dd class="prd-description">매장에선 이미 인기만점 밥도둑 반찬!</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 90%;">5점 만점에 4.5점</span>
                    </span>
                    <span class="review-count">20</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">4,500
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>5,000</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box" aria-hidden="false" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;">
              <a href="/shop/detail.php?hash=I19B1" ga_id="18349" ga_name="[집밥의완성] 오이냉국 630g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I19B1/285504617be3595adbc15cece9a7c0d2.jpg" alt="[집밥의완성] 오이냉국 630g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 오이냉국 630g</dt>
                  <dd class="prd-description">다시 태어난 대표 여름메뉴, 새콤시원한 오이냉국!</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 84%;">5점 만점에 4.2점</span>
                    </span>
                    <span class="review-count">12</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">3,800
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>4,500</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge event">
                    <span>이벤트특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=I76F5" ga_id="18358" ga_name="[진가네반찬] 호두아몬드땅콩조림 200g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I76F5/d59eaa5e475cae0269fbfd2fb94403c2.jpg" alt="[진가네반찬] 호두아몬드땅콩조림 200g">
                </div>
                <dl>
                  <dt class="prd-tlt">[진가네반찬] 호두아몬드땅콩조림 200g</dt>
                  <dd class="prd-description">네 가지 견과류로 건강하게 호두아몬드땅콩조림 </dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 80%;">5점 만점에 4점</span>
                    </span>
                    <span class="review-count">13</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=I8A64" ga_id="18395" ga_name="[맑을담] 호박새우탕 800g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I8A64/556dcd27b4055b714178b7478f3ca569.jpg" alt="[맑을담] 호박새우탕 800g">
                </div>
                <dl>
                  <dt class="prd-tlt">[맑을담] 호박새우탕 800g</dt>
                  <dd class="prd-description">이가 약한 분도 부담 없이!</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">7,200
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>8,000</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=IA4EA" ga_id="18398" ga_name="[집반찬연구소] 우리쌀 기름떡볶이 750g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IA4EA/764374dee85bdae198664eae8b10f2d2.jpg" alt="[집반찬연구소] 우리쌀 기름떡볶이 750g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집반찬연구소] 우리쌀 기름떡볶이 750g</dt>
                  <dd class="prd-description">우리쌀떡볶이로 만든 건강한 기름떡볶이</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,820
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>9,800</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;" aria-hidden="true">
              <a href="/shop/detail.php?hash=IE568" ga_id="18408" ga_name="[게방식당] 간장소라 350g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IE568/5463bfb09984ba7528814ce6829778fb.jpg" alt="[게방식당] 간장소라 350g">
                </div>
                <dl>
                  <dt class="prd-tlt">[게방식당] 간장소라 350g</dt>
                  <dd class="prd-description">젓가락으로 느껴지는 탱글함!</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">13,500
                      <span class="unit">원</span>
                    </p>
                    <p class="origin-price">
                      <del>15,000</del>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                  <div class="badge launching">
                    <span>론칭특가</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=IF80B" ga_id="18200" ga_name="[집밥의완성] 분짜 740g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/IF80B/ad82dd48761db3f1fd9be69715ee558b.jpg" alt="[집밥의완성] 분짜 740g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 분짜 740g</dt>
                  <dd class="prd-description">새콤달콤 여름 입맛 저격 분짜</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 82%;">5점 만점에 4.1점</span>
                    </span>
                    <span class="review-count">17</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,600
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=I1608" ga_id="18201" ga_name="[집밥의완성] 오리지널 팟타이 540g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I1608/7e2860a70bb4bfd63662d6f80220f54f.jpg" alt="[집밥의완성] 오리지널 팟타이 540g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 오리지널 팟타이 540g</dt>
                  <dd class="prd-description">태국 No.1 스트리트 푸드</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 86%;">5점 만점에 4.3점</span>
                    </span>
                    <span class="review-count">22</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">8,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=I78C2" ga_id="18231" ga_name="[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/I78C2/a023e43d887855feec7482f333267e1c.jpg" alt="[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g">
                </div>
                <dl>
                  <dt class="prd-tlt">[집밥의완성] 시원한 대파 전복 닭곰탕 2,070g</dt>
                  <dd class="prd-description">대파가 시원한 국물맛을 잡아주는 전복 닭곰탕</dd>
                  <dd class="star-rating-box">
                    <span class="">
                      <span class="">
                      </span>
                    </span>
                    <div class="review-count"> </div>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">16,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
            <li class="prd-box bx-clone" style="float: left; list-style: none; position: relative; width: 215px; margin: 0px 15px 8px;"
              aria-hidden="true">
              <a href="/shop/detail.php?hash=ICD1D" ga_id="18261" ga_name="[너의반찬] 건새우 강정볶음 100g">
                <div class="thumb-img">
                  <img src="https://cdn.bmf.kr/_data/product/ICD1D/0916fa9b6a6158a5cd5e5c9a4c9da3ef.jpg" alt="[너의반찬] 건새우 강정볶음 100g">
                </div>
                <dl>
                  <dt class="prd-tlt">[너의반찬] 건새우 강정볶음 100g</dt>
                  <dd class="prd-description">물엿대신 메이플시럽으로 맛을 냈어요</dd>
                  <dd class="star-rating-box">
                    <span class="star-score-bg">
                      <span class="star-score" style="width: 88%;">5점 만점에 4.4점</span>
                    </span>
                    <span class="review-count">94</span>
                  </dd>
                  <dd class="prd-price">
                    <p class="selling-price">5,000
                      <span class="unit">원</span>
                    </p>
                  </dd>
                </dl>
                <div class="badge-area">
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="/recommend/list.php" class="btn_more">
      <span>배민찬 추천 전체보기</span>
    </a>
  </div>

  <div class="prds-thumb-slides-navi">
    <a href="#" class="slides-prev" title="이전">이전</a>
    <a href="#" class="slides-next" title="다음">다음</a>
  </div>
  <div class="prds_banner g1" style="background-image:url(https://cdn.bmf.kr/banner/main_event/171214/1513243712683_1e0a6312599e.jpg); background-color:#e6dcd2;">
    <p>
      <a href="https://www.baeminfresh.com/brand/list.php?cno=30080201">
        집밥의완성 </a>
    </p>
  </div>
</div>