<!-- h1 배너 삽입 후 위치 앱솔루트로 잡아야 함-->
<h1 class="baeminchan-logo hidden">배민찬 카피</h1>

<!-- 최상단 네비게이션 메뉴-->
<div class="top-menu-wrapper">
  <h2>상단 메뉴 목록</h2>
  <!-- 앱 다운로드 배너 -->
  <div class="download-app">
    <a href="" class="link-download">배민찬 앱 다운로드</a>
    <ul class="download-hidden-menu">
      <li class="download-link-appstore">앱스토어</li>
      <li class="download-link-google">구글플레이스토어</li>
    </ul>
  </div>
  <!-- 멤버 메뉴 -->
  <ul class="member-menu-list">
    <li class="member-menu-item">로그인</li>
    <li class="member-menu-item">회원가입</li>
    <li class="member-menu-item">마이페이지</li>
    <li class="member-menu-item">고객센터</li>
    <li class="member-menu-item">장바구니</li>
  </ul>
</div>

<!-- 헤더 부분 -->
<header class="header-wrapper">
  <h2>헤더 메뉴</h2>
  <ul class="header-menu-list">
    <li class="header-menu-item">베스트</li>
    <li class="header-menu-item">알뜰쇼핑</li>
  </ul>
</header>