<div id="container">

  <div class="wrap">
    <div class="content">
      <div id="searchResult">
        <p class="msg">
          <strong class="search_str">{{ searchTitle }}</strong> 검색결과 :
          <strong class="number">{{ api.searchItemLists.length }}</strong>건
        </p>
      </div>
      <ul id="products" class="prds_lst col4" *ngIf="api.searchItemLists">
        <li *ngFor="let productItemList of api.searchItemLists">
          <div class="imgthumb">
            <img src="{{ productItemList.thumbnail_url1 }}" alt="">
            <a [routerLink]="['/itemdetail', productItemList.id]">
              <div class="thumb_badge" *ngIf="productItemList.discount_rate">
                <span class="num">{{ productItemList.discount_rate }}</span>
                <span class="unit">%</span>
              </div>
            </a>
          </div>
          <dl class="prds_lst_info">
            <dt class="prd_tlt">
              <a routerLink="/itemdetail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>{{ productItemList.raw_name }}</span>
              </a>
            </dt>
            <dd class="star-rating-box">
              <span class="star-score-bg">
                <span class="star-score" style="width: 80%;">5점 만점에 4점</span>
              </span>
              <span class="review-count">254</span>
            </dd>
            <dd class="prd_thumb_price">
              <p class="selling-price">{{ productItemList.sale_price | currency }}
                <span class="won">원</span>
              </p>
              <p class="origin-price" *ngIf="productItemList.discount_rate">
                <del>{{ productItemList.price | currency }}원</del>
              </p>
            </dd>
          </dl>
        </li>
      </ul>
      <div class="b2b-banner">
        <h3>단체주문이 필요하세요?</h3>
        <a href="/content/corporate.php">온라인 주문</a>
        <p>전화문의는
          <strong>Tel. 1899-2468</strong>로 연락주세요.</p>
      </div>
    </div>
  </div>
</div>