<!-- 헤더 부분 -->
<header class="header-wrapper">
  <div class="header">
    <a href="/" class="logo">
      <h1 class="title" hidden>배민찬</h1>
      <img src="https://cdn.bmf.kr/web/common/bmc-logo.png" alt="모바일 넘버원 반찬가게-배민프레시">
    </a>
    <h2 class="hidden">헤더 메뉴</h2>
    <form name="form_search" class="searchbar" action="/search.php" method="get">
      <label class="hidden">검색</label>
      <input type="text" name="search_str" id="search_str" value="" placeholder="" data-url="">
      <button type="submit"><span class="icon_search">검색</span></button>
    </form>
    <ul class="gnb_top">
      <li class="link_best" bannercode="P_GNB1" style="">
        <a href="https://www.baeminchan.com/best30/list.php">
            <img src="https://cdn.bmf.kr/banner/p_gnb1/180410/1523352994426_e20d5cc1c0a6.png" alt="베스트반찬">
        </a>
      </li>
      <li class="link_promotion" bannercode="P_GNB2" style="">
        <a href="https://www.baeminchan.com/promotion_c/list.php?cno=2160000">
            <img src="https://cdn.bmf.kr/banner/p_gnb2/171228/1514426530229_82c43181b982.jpg" alt="알뜰쇼핑">
        </a>
      </li>
      <li class="link_promotion" bannercode="P_GNB3" style="">
        <a href="/attendance/index.php">
            <img src="https://cdn.bmf.kr/banner/p_gnb3/180402/1522645059002_3d74e23a9479.jpg" alt="출석체크">
        </a>
      </li>
    </ul>
  </div>
</header>
