<main class="item-wrapper">
  <h2 class="hidden">메뉴 리스트</h2>
        <!-- 반찬리스트 1. 밑반찬-->
  <div class="sidedish-wrapper">
    <div class="mtlt">
      <h3>밑반찬</h3>
      <p>언제 먹어도 든든한 반찬</p>
    </div>
    <ul id="sidedish" class="sidedish-list">
      <!-- 밑반찬 아이템 1-->
      <li class="sidedish-item" *ngFor="let item of items">
        <a [href]="item.url">
          <img [src]="item.img" alt="" srcset="">
          <dl>
            <dt class="sidedish-title">{{ item.title }}</dt>
            <dd class="sidedish-description">{{ item.description }}</dd>
            <dd class="star-rating-box">
              <span class="star-score-bg">
                  <span class="star-score" style="width: 80%;">{{ item.score }}}</span>
              </span>
              <span class="review-count">{{ item.reviewcount}}</span>
            </dd>
            <dd class="item-price">
              <p class="selling-price">{{ item.price }} <span class="unit">원</span></p>
            </dd>
          </dl>
          <div class="badge-area"></div>
        </a>
      </li>
    </ul>
    <a href="#" class="btn-more"><span>밑반찬 전체보기</span></a>
    <div class="slides-item-navi">
      <a href="#" class="slides-prev" title="이전">이전</a>
      <a href="#" class="slides-next" title="다음">다음</a>
    </div>
  </div>
</main>