<!-- 최상단 네비게이션 메뉴-->
<div class="top-menu-wrapper">
  <div class="content lnb">
    <h2 class="hidden">상단 메뉴 목록</h2>
    <!-- 앱 다운로드 배너 -->
    <div class="download-app">
      <a href="" class="link-download">배민찬 앱 다운로드
        <span class="ic">&nbsp;</span>
      </a>
      <ul class="download-hidden-menu">
        <li class="download-link-appstore">앱스토어</li>
        <li class="download-link-google">구글플레이스토어</li>
      </ul>
    </div>

    <!-- 멤버 메뉴 -->
    <ul class="member-menu-list">
      <li class="member-menu-item">
        <a routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">로그인</a>
      </li>
      <li class="member-menu-item">
        <a>회원가입</a>
      </li>
      <li class="member-menu-item">
        <a>마이페이지<span class="ic">&nbsp;</span></a>
      </li>
      <li class="member-menu-item">
        <a>고객센터<span class="ic">&nbsp;</span></a>
      </li>
      <li class="member-menu-item util-cart">
        <a routerLink="/cart"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">장바구니 <span class="cart_num" *ngIf="api.cartItemList.length">{{ api.cartItemList.length }}</span></a>
      </li>
    </ul>
  </div>
</div>