#container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sub_visual_banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #fff;
  overflow: hidden;
}

.wrap {
  position: relative;
}

.content {
  position: relative;
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

ul.breadcrumb.list {
  float: left;
  height: 15px;
  padding: 15px 0 10px 5px;
  clear: both;
}

ul.breadcrumb li {
  float: left;
  font-size: 13px;
}

ul.breadcrumb li a {
  color: #888;
  padding: 0 0 0 22px;
  background: url("http://cdn.bmf.kr/web/common/breadcrumb.gif") no-repeat 10px center;
}

ul.breadcrumb li:first-child a {
  background: none;
  padding-left: 0;
}