<div class="main-slides-wrapper">
  <h2 class="hidden">슬라이드 배너</h2>
  <ul class="main-slides-list" *ngIf="images">
    <li class="main-slides-item" *ngFor="let image of images"
         [class.active]="currentState === image.id"
         [ngStyle]="{ 'background-image': 'url('+ image.url + ')' }" >
      <a></a>
    </li>
  </ul>
  <div class="slides-navi">
      <a class="slides-prev" title="이전"
      (click)="prevSlide()"></a>
      <a class="slides-next" title="다음"
      (click)="nextSlide()"></a>
  </div>
  <ul class="slides-pagination">
      <li *ngFor="let pagination of paginations"><a
        [class.now]="currentState === pagination"
        (click)="changeNow(pagination)">{{ pagination }}</a></li>
        </ul>
</div>