<div class="wrap bottom_wrap">
    <div class="content bottom">
        <div class="quick_menu_box">
            <h2 class="hidden">퀵메뉴</h2>
            <ul class="quick_menu_lst">
                <li class="q1 b1">
                    <a href="/content/dawn_guide.php">
                        <span class="ic"></span>새벽배송 안내</a>
                </li>
                <li class="q2 b2">
                    <a href="/board/?db=bfaq">
                        <span class="ic"></span>자주하는 질문</a>
                </li>
                <li class="q3 b3">
                    <a href="/content/regular_guide.php">
                        <span class="ic"></span>정기배송 안내</a>
                </li>
                <li class="q4 b4">
                    <a href="/content/enterprise.php">
                        <span class="ic"></span>단체주문 안내</a>
                </li>
            </ul>
        </div>
        <div class="notice_box">
            <h2>공지사항</h2>
            <ul class="notice_lst">
                <li>
                    <a href="/board/?db=notice&amp;no=160&amp;mari_mode=view@view&amp;listURL=%2Fboard%2F%3Fdb%3Dnotice">[공지]배민찬 시스템 정기점검 안내</a>
                </li>
                <li>
                    <a href="/board/?db=notice&amp;no=159&amp;mari_mode=view@view&amp;listURL=%2Fboard%2F%3Fdb%3Dnotice">개인정보처리방침 개정 안내</a>
                </li>
                <li>
                    <a href="/board/?db=notice&amp;no=158&amp;mari_mode=view@view&amp;listURL=%2Fboard%2F%3Fdb%3Dnotice">[공지] 지방선거일 휴무로 인한 6월 13일(수)~14일(목) 배송 안내 </a>
                </li>
                <li>
                    <a href="/board/?db=notice&amp;no=157&amp;mari_mode=view@view&amp;listURL=%2Fboard%2F%3Fdb%3Dnotice">[공지] 현충일 휴무로 인한 6월 6일(수)~7일(목) 배송 안내 </a>
                </li>
            </ul>
            <a class="btn-more" href="/board/?db=notice">
                <img src="https://cdn.bmf.kr/web/main/foot_btn_more.gif" alt="더보기">
            </a>
        </div>

        <div class="cs_center_box ">
            <h2>고객센터</h2>
            <p class="cs_tel_num">1899-2468</p>
            <dl>
                <dd class="first">
                    <strong>평&nbsp;&nbsp;&nbsp;&nbsp;일</strong> 06:30 ~ 18:00</dd>
                <dd>
                    <strong>토요일</strong> 06:30 ~ 15:00</dd>
                <dd>
                    <span>일요일 / 공휴일 휴무
                        <br>
                        <span class="last">* 배송있는 공휴일은 운영</span>
                    </span>
                </dd>
            </dl>
        </div>
    </div>
</div>